<h2>Detalles del pedido #{{ idPedido }}</h2>

<div *ngIf="vm.loading()">Cargando...</div>

<div *ngIf="!vm.loading()">

  <!-- MOSTRAR DATOS DEL PEDIDO -->
  <div *ngIf="vm.pedido() as p" class="pedido-card">
    <p><strong>Proveedor:</strong> {{ p.IdProveedor }}</p>
    <p><strong>Usuario:</strong> {{ p.IdUsuario }}</p>
    <p><strong>Fecha:</strong> {{ p.FechaPedido | date:'short' }}</p>
    <p><strong>Estado:</strong> {{ p.Estado }}</p>
    <p><strong>Observaciones:</strong> {{ p.Observaciones }}</p>

    <button [routerLink]="['/pedidos', idPedido, 'edit']">
      Actualizar pedido
    </button>
  </div>

  <hr>

  <!-- MOSTRAR DETALLES -->
  <h3>Pedidos</h3>

  <div *ngFor="let d of vm.detalles()">
    <div class="detalle-card">
      <p><strong>Producto:</strong> {{ d.IdProducto }}</p>
      <p><strong>Cantidad:</strong> {{ d.Cantidad }}</p>
      <p><strong>Precio Unitario:</strong> {{ d.PrecioUnitario }}</p>
    </div>
      <hr>

  </div>

</div>
