<div class="producto-card">
  <div class="producto-info">
    <h3 class="producto-nombre">{{ producto.NombreProducto }}</h3>

    <p class="producto-id">ID: {{ producto.IdProducto }}</p>
    <p class="producto-desc">{{ producto.DescripcionProducto }}</p>

    <p class="producto-precio">
      Precio: {{ producto.PrecioProducto }} €
    </p>

    <p class="producto-stock">
      Stock: {{ producto.StockProducto }}
    </p>

    <p class="producto-procedencia">
      Procedencia: {{ producto.ProcedenciaProducto }}
    </p>
  </div>
</div>
