<div class="welcome-container">
  <header class="header-welcome">
    <h1 class="titulo-bienvenida">Bienvenido a GrupoSincoERP</h1>
    <p class="subtitulo">¿Qué deseas visualizar?</p>
  </header>

  <div class="menu-grid">
    <a routerLink="/proveedores" class="menu-card">
      <div class="icon-circle">🏢</div>
      <div class="text-group">
        <h3 class="card-title">Proveedores</h3>
        <p class="card-desc">Contactos y empresas.</p>
      </div>
    </a>

    <a routerLink="/productos" class="menu-card">
      <div class="icon-circle">🍎</div>
      <div class="text-group">
        <h3 class="card-title">Productos</h3>
        <p class="card-desc">Catálogo y control de existencias.</p>
      </div>
    </a>
  </div>
</div>
