.titulo-bienvenida {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #1e1e2f;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.menu a {
  text-decoration: none;
}
